<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @snack.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @snack.title %>
</p>

<p>
  <strong>Pdf version:</strong>
  <%= @snack.pdf_version %>
</p>

<p>
  <strong>Page count:</strong>
  <%= @snack.page_count %>
</p>

<%= link_to 'Edit', edit_snack_path(@snack) %> |
<%= link_to 'Back', snacks_path %>
